@import "compass", "compass/reset", "media-queries", "compass/css3/font-face", "compass/css3/border-radius";

@include font-face("Corben", font-files("../font/Corben.ttf"));

/* for Bootstrap */
.no-margin {margin: 0 !important}
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

$bg-body: #25091b;
$bg-main: #ffffff;
$link-color: #ffffff;
$link-padding: 10px 30px;
$content-padding: 40px 15px 60px 15px;
$def-font-size: 14px;
$text-color: #636363;
$default-transition-duration: 0.7s;

%h2-font {
  font-size: 24px;
  color: darken($text-color, 20%);
  margin-bottom: 20px;
}
%divider {
  border-bottom: 1px solid lighten($text-color, 40%);
  padding-bottom: 20px;
}
%button {
  @include border-radius(20px);
  background-color: lighten($bg-body, 13%);
  padding: 10px 10px;
  color: $link-color;
  font-size: $def-font-size - 4px;
  float: left;
  border: none;
  text-transform: uppercase;
  &:hover {
    background-color: lighten($bg-body, 32%);
    transition: $default-transition-duration;
  }
}
%p-font {
  text-align: justify;
  padding: 20px 0 10px 0;
  line-height: 20px;
}

/**/
.left {float: left;}
.right {float: right;}
a {
  &:hover  {
    text-decoration: none;
  }
}
body {
  background-color: $bg-body;
  color: $text-color;
  font-size: $def-font-size;
}
/* Header */
#header {
  padding: 50px;
  background-color: $bg-main;
    h1 {
      font-family: 'Corben', sans-serif;
      text-align: center;
      font-size: 60px;
      color: lighten($bg-body, 13%);
    }
  }

/* Navbar */
.navbar-default {
  @include border-radius(0);
  background-color: lighten($bg-body, 13%);
  border: none;
  margin-bottom: 0;
  .navbar-nav {
    margin-left: 230px;
    li > a {
      text-transform: uppercase;
      margin: 10px 35px 10px 0;
      color: $link-color;
      padding: $link-padding;
      @include border-radius(10px);
      &:hover, &:focus {
        background-color: lighten($bg-body, 32%);
        color: $link-color;
        transition: $default-transition-duration;
      }
    }
  }
}
#head-img {
  width: 100%;
  background-size: cover;
}
/* Content */
h2 {
  @extend %h2-font;
}
p {
  @extend %p-font;
}
button {
  @extend %button;
}
.article {
  @extend %divider;
}
#content {
  background-color: $bg-main;
  padding: $content-padding;
  .main-article {
    p {
      line-height: 20px;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
  ul {
    margin-top: 5px;
    li {
      padding: 12px 0 12px 0;
      @extend %divider;
      & > a {
        color: lighten($bg-body, 30%);
          &:hover {
            color: lighten($bg-body, 50%);
            transition: $default-transition-duration;
          }
      }
    }
  }
}
#content-2 {
  background-color: #dcdcdc;
  padding: $content-padding;
    .date {
      font-size: $def-font-size - 2px;
    }
  button {
    float: right;
  }
}

/* @media */
@include mq($max-width: 1199px) {
  .navbar-default {
    .navbar-nav {
      margin-left: 110px;
    }
  }
}
@include mq($max-width: 991px) {
  .navbar-default {
      .navbar-nav {
        margin-left: 40px;
        li > a {
          margin: 5px 15px 5px 0;
      }
    }
  }
  #content {
    .right-sector {
      margin: 50px 0 0 0;
    }
    p {
      padding: 20px 0 8px 0;
    }
  }
}
@include mq($max-width: 768px) {
  #head-img {
    display: none;
  }
  #header {
    padding: 25px;
    h1 {
      font-size: 50px;
    }
  }
  h2 {
    text-align: center;
    margin-top: 40px;
  }
  #content {
    padding: 0 0 30px 0;
    .main-article {
      img {
        max-width: 80%;
        height: auto;
      }
      button {
        float: right;
      }
    }
    .article {
      padding-bottom: 45px;
    }
  }
  #content-2 {
    padding: 0 0 30px 0;
  }
}
